body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 1px solid #333;
    background: #1e1e1e;
}

.btn:hover {
    background: #333;
}

.back {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    background: #444;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}
